body.path-user, body.path-frontpage{
    background: url(../../images/slide_1.png) no-repeat center center fixed;
    display: table;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.dialog-off-canvas-main-canvas {
    height: calc(100vh - 60px);
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout-container {
    background-color: rgba(21,33,45,0.43);
    max-width: 600px;
    min-height: 350px;
    transition: 0.5s;
    color:#fff;
}
.tabs > li {
    display: inline-block;
    margin-right: 0;
    width: 49.5%;
}
.tabs a {
    display: block;
    padding: 0.2em 1em;
    text-decoration: none;
    vertical-align: middle;
    font-size: 1.1em;
    color: #fff;
    text-align: center;
}
.tabs a.is-active {
    background-color: var(--background-color);
    opacity: .5;
}
.tabs a:focus, .tabs a:hover {
    background-color: var(--background-color);
    opacity: .5;
}
form#user-login-form, form#user-pass {
    padding: 20px;
}
